.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header__container {
    display: flex;
    align-items: center;
    position: relative;
}
.header__logo {
    margin-right: auto;
}
.header__logo-img {
    display: block;
}
.header__nav {
}
.sitenav {
    margin-right: auto;
}
.sitenav__list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.sitenav__item {
}
.sitenav__item-link {
    font-weight: 400;
    font-size: 1.7em;
    line-height: 18px;
    letter-spacing: 0.18px;
    color: #222222;
}
.header__cart-link {
    font-weight: 400;
    font-size: 1.7em;
    line-height: 18px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 27px;
    &::before {
        content: url(../../img/cart.svg);
        display: block;
        margin-right: 8px;

    }
}
.header__cart {
}
.cart-item {
    display: none;
}
.header__cart-count {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 18px;
    color: #3F53D8;
    margin-left: 14px;
}
.header__signup-link {
    padding: 20px 37px;
    border: 1px solid rgba(8, 8, 41, 0.2);
    border-radius: 14px;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #080829;
    display: inline-block;
}
.header__btn {
    display: none;
}
.toggler {
    width: 24px;
    height: 24px;
}
.toggler__line {
    width: 24px;
    height: 2px;
    background-color: #000000;
    display: block;
    transition: all 0.4s;
}
.toggler__line-top {
    margin-bottom: 6px;
}
.toggler__line-center {
    margin-bottom: 6px;
}
.toggler__line-bottom {
}
.sign-up-item {
    display: none;
}
.header__checkbox {
    display: none;
    &:checked ~ .toggler {
        .toggler__line-top {
            margin-bottom: 0px;
            transform: rotate(-45deg);
        }
        .toggler__line-center {
            display: none;
        }
        .toggler__line-bottom {
            margin-top: -2px;
            transform: rotate(45deg);
        }
    }
    &:checked ~ .sitenav {
        font-size: 9px;
        padding: 50px;
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 100%;
        background-color: #fff;
        .sitenav__list {
            flex-direction: column;
            .cart-item {
                display: block;
            }
        }
    }
}
@include breakpoint-down(910px) {
    .header {
        font-size: 8px;
    }
    .sitenav__list {
        gap: 20px;
    }
    .header__signup-link {
        padding: 14px 30px;

    }
}
@include breakpoint-down(800px) {
    .sitenav {
        display: none;
    }
    .header__cart-link {
        display: none;
    }
    .header__signup-link {
        padding: 10px 20px;
    }
    .toggler {
        display: block;
        margin-left: 20px;
    }
}
@include breakpoint-down(500px) {
    .header__signup-link {
        display: none;
    }
    .sign-up-item {
        display: block;
    }
}