.hero {
}
.hero__container {
    padding-top: 124px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    background-image: url(../../img/hero__bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
}
.hero__content {
    max-width: 495px;
    width: 100%;
}
.hero__heading {
    font-weight: 400;
    font-size: 6.3em;
    line-height: 79px;
    letter-spacing: 2.16px;
    color: #080829;
    margin-bottom: 31px;
}
.hero__desc {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #080829;
    margin-bottom: 43px;
}
.hero__link {
    padding: 20px 36px;
    background-color: #3F53D8;
    color: #fff;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 20px;
    letter-spacing: 0.4px;
    border-radius: 14px;
}
@include breakpoint-down(930px) {
    .hero__content {
        max-width: 380px;
        font-size: 7px;
    }
    .hero__container {
        background-size: 400px;
    }
    .hero__heading {
        line-height: 60px;
    }
    .hero__desc {
        line-height: 20px;
    }

}
@include breakpoint-down(600px) {
    .hero__content {
        max-width: 100%;
        font-size: 5px;
    }
    .hero__heading {
        line-height: 40px;
    }
    .hero__container {
        padding-top: 20px;
        padding-bottom: 400px;
        background-position: right bottom;
    }
}