.logos {
    padding-top: 50px;
    padding-bottom: 50px;
}
.logos__desc {
    font-weight: 400;
    font-size: 2.2em;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.48px;
    margin-bottom: 50px;
}
.logos__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logos__item {
}
.logos__item-img {
}